<nav role="navigation">
  <div class="wrapper">

    <a class="blog-logo" href="/">
      <img src="/blog/assets/images/lexoo.png" alt="placeholder+image">
    </a>

    <button type="button" class="mobile-menu" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="hidden">Menu</span>
    </button>

    <ul id="main-menu" class="navbar-collapse collapse">
      <li>
        <a href="https://www.lexoo.co.uk/how-it-works">How it works</a>
      </li>
      <li>
        <a href="https://www.lexoo.co.uk/success-stories">Success stories</a>
      </li>
      <li>
        <a class='request-a-quote' href="https://www.lexoo.co.uk/request-a-quote">Get free quotes</a>
      </li>
    </ul>
  </div>
</nav>
