<section class="popular-posts widget">
  <h3>Our
    <mark>top posts</mark> right now</h3>
  <ol>

    <li>
      <a href="/blog/gdpr-your-10-step-plan-for-compliance-before-25-may-2018">
        <span class="number" aria-hidden="true">1</span>GDPR: your 10-step plan for compliance before 25 May 2018
      </a>
    </li>

    <li>
      <a href="/blog/andrew-magowan-asos-gc-harnessing-innovation-in-the-legal-industry">
        <span class="number" aria-hidden="true">2</span>Andrew Magowan, GC of ASOS - harnessing innovation in the legal industry
      </a>
    </li>

    <li>
      <a href="/blog/lexoo-in-house-roundup-8">
        <span class="number" aria-hidden="true">3</span>In-House Roundup - #8
      </a>
    </li>

    <li>
      <a href="/blog/legal-geeks-on-the-march-the-future-of-legal-tech-is-here">
        <span class="number" aria-hidden="true">4</span>Legal Geeks on the march: the future of legal tech is here
      </a>
    </li>

    <li>
      <a href="/blog/communicating-your-way-to-influence-top-tips-for-in-house-legal-teams">
        <span class="number" aria-hidden="true">5</span>Communicating your way to influence: top tips for in-house legal teams
      </a>
    </li>

  </ol>
</section>
