<section class="popular-posts widget">
  <h3>Our
    <mark>top posts</mark> right now</h3>
  <ol>

    <li>
      <a href="/blog/10-things-you-didnt-know-about-non-disclosure-agreements/">
        <span class="number" aria-hidden="true">1</span>10 Things You Didn’t Know About Non-Disclosure Agreements
      </a>
    </li>

    <li>
      <a href="/blog/what-businesses-need-to-know-about-the-1998-data-protection-act/">
        <span class="number" aria-hidden="true">2</span>Is Your Business Committing A Data Protection Crime?
      </a>
    </li>

    <li>
      <a href="/blog/share-vesting-a-startup-perspective/">
        <span class="number" aria-hidden="true">3</span>Share Vesting: A Startup Perspective
      </a>
    </li>

    <li>
      <a href="/blog/freelancers-how-to-handle-non-compete-clauses/">
        <span class="number" aria-hidden="true">4</span>Freelancers: How to Handle Non-Compete Clauses
      </a>
    </li>

    <li>
      <a href="/blog/my-lawyer-wants-my-gas-bill-why/">
        <span class="number" aria-hidden="true">5</span>My lawyer wants my gas bill. Why?
      </a>
    </li>

  </ol>
</section>
