<section class="popular-posts widget">
  <h3>Our
    <mark>top posts</mark> right now</h3>
  <ol>

    <li>
      <a href="/blog/gdpr-your-10-step-plan-for-compliance-before-25-may-2018">
        <span class="number" aria-hidden="true">1</span>GDPR: your 10-step plan for compliance before 25 May 2018
      </a>
    </li>

    <li>
      <a href="/blog/in-house-roundup-11">
        <span class="number" aria-hidden="true">2</span>In-House Roundup - #11
      </a>
    </li>

    <li>
      <a href="/blog/answered-11-burning-questions-about-gdpr">
        <span class="number" aria-hidden="true">3</span>Answered: 11 burning questions about GDPR
      </a>
    </li>

    <li>
      <a href="/blog/what-will-happen-to-eu-nationals-living-in-the-uk-after-brexit">
        <span class="number" aria-hidden="true">4</span>What will happen to EU nationals living in the UK after Brexit?
      </a>
    </li>

    <li>
      <a href="/blog/andrew-magowan-asos-gc-harnessing-innovation-in-the-legal-industry">
        <span class="number" aria-hidden="true">5</span>Andrew Magowan, GC of ASOS - harnessing innovation in the legal industry
      </a>
    </li>

  </ol>
</section>
