<section class="popular-posts widget">
  <h3>Our
    <mark>top posts</mark> right now</h3>
  <ol>

    <li>
      <a href="/blog/andrew-magowan-asos-gc-harnessing-innovation-in-the-legal-industry">
        <span class="number" aria-hidden="true">1</span>Andrew Magowan, GC of ASOS - harnessing innovation in the legal industry
      </a>
    </li>

    <li>
      <a href="/blog/communicating-your-way-to-influence-top-tips-for-in-house-legal-teams">
        <span class="number" aria-hidden="true">2</span>Communicating your way to influence: top tips for in-house legal teams
      </a>
    </li>

    <li>
      <a href="/blog/10-things-you-didnt-know-about-non-disclosure-agreements">
        <span class="number" aria-hidden="true">3</span>10 Things You Didn’t Know About Non-Disclosure Agreements
      </a>
    </li>

    <li>
      <a href="/blog/transparency-of-legal-services-causes-and-solutions">
        <span class="number" aria-hidden="true">4</span>Transparency of Legal Services - Causes and Solutions
      </a>
    </li>

    <li>
      <a href="/blog/how-to-build-an-agile-in-house-legal-team">
        <span class="number" aria-hidden="true">5</span>How to build an Agile in-house legal team
      </a>
    </li>

  </ol>
</section>
