<section class="popular-posts widget">
  <h3>
    <mark>top posts</mark></h3>
  <ol>

    <li>
      <a href="/blog/maximise-roi-on-legal-spend">
        <span class="number" aria-hidden="true">1</span>Here’s how to maximise the ROI on your legal spend
      </a>
    </li>

    <li>
      <a href="/blog/in-house-roundup-14">
        <span class="number" aria-hidden="true">2</span>In-House Roundup - #14
      </a>
    </li>

    <li>
      <a href="/blog/andrew-magowan-asos-gc-harnessing-innovation-in-the-legal-industry">
        <span class="number" aria-hidden="true">5</span>Andrew Magowan, GC of ASOS - harnessing innovation in the legal industry
      </a>
    </li>

    <li>
      <a href="/blog/communicating-your-way-to-influence-top-tips-for-in-house-legal-teams">
        <span class="number" aria-hidden="true">4</span>Communicating your way to influence: top tips for in-house legal teams
      </a>
    </li>

    <li>
      <a href="/richard-tromans-why-in-house-lawyers-should-use-legal-tech-now">
        <span class="number" aria-hidden="true">5</span>Richard Tromans, founder of ArtificialLawyer.com, on why in-house lawyers should use legal tech now
      </a>
    </li>

  </ol>
</section>
