<section class="popular-posts widget">
  <h3>Our
    <mark>top posts</mark> right now</h3>
  <ol>

    <li>
      <a href="/blog/10-things-you-didnt-know-about-non-disclosure-agreements/">
        <span class="number" aria-hidden="true">1</span>10 Things You Didn’t Know About Non-Disclosure Agreements
      </a>
    </li>

    <li>
      <a href="/blog/tech-nation-visa-scheme-launch/">
        <span class="number" aria-hidden="true">2</span>Tech Nation Visa Scheme Launches Today
      </a>
    </li>

    <li>
      <a href="/blog/how-to-rebrand-a-startup-an-interview-with-noah-waisberg/">
        <span class="number" aria-hidden="true">3</span>How to Rebrand a Startup: An Interview with Noah Waisberg
      </a>
    </li>

    <li>
      <a href="/blog/are-you-sure-you-need-a-big-law-firm/">
        <span class="number" aria-hidden="true">4</span>Are You Sure You Need A Big Law Firm?
      </a>
    </li>

    <li>
      <a href="/blog/freelancers-how-to-handle-non-compete-clauses">
        <span class="number" aria-hidden="true">5</span>Freelancers: How to Handle Non-Compete Clauses
      </a>
    </li>

  </ol>
</section>
