<aside class="subscribe-banner">
  Subscribe to our newsletter for forward-thinking GCs and in-house legal teams.  &nbsp;<a class="button" href="http://lexoo.us9.list-manage.com/subscribe?u=4f5c189d7876e0e3c2572b3b5&id=ba31f8b27a">Subscribe</a>
</aside>
