<aside class="subscribe-banner">
  An entrepreneur's guide to working with lawyers. Download here!&nbsp;&nbsp;<a class="button" data-toggle="modal" data-target="#blogsubscribe">Subscribe</a>
</aside>
